.side-bar
  .side-top
    .side-top__box
      user
    .side-top__icon
      = fa_icon 'edit'
      = fa_icon 'cog'

  .groups
    .group
      .group__name
        test-group
      .group__text
        さようなら
