=render 'side-bar'

.main-view
  .main-header
    .main-header__group-box
      .main-header__group-box__group-name
        =@group.name
      .main-header__group-box__member-rist
        Member : user
        -# ='Member : '
        -# =@group.name
    .main-header__edit-btn
      =link_to edit_group_path(@group) do
        .main-header__edit-btn__text
          Edit

  .main-chat
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__input
        = f.text_field :content, class: 'form__input__message', placeholder: 'type a message'
        .form__input__icon-box
          =f.label :image, class: 'form__input__icon-box__image' do
            = fa_icon 'image', class: 'icon'
            =f.file_field :image, class: 'original'
      =f.submit 'Send', class: 'form__send-btn'