=render 'side-bar'

.main-view
  .main-header
    .main-header__group-box
      .main-header__group-box__group-name
        test1
      .main-header__group-box__member-rist
        Member : user
    .main-header__edit-btn
      Edit

  .main-chat
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__input
        = f.text_field :content, class: 'form__input__message', placeholder: 'type a message'
        .form__input__icon-box
          =f.label :image, class: 'form__input__icon-box__image' do
            = fa_icon 'image', class: 'icon'
            =f.file_field :image, class: 'original'
      =f.submit 'Send', class: 'form__send-btn'