$LightBlueColor: #38AEF0;
$BlackTextColor: #434A54;

@mixin smalltext() {
  color: #999999;
  font-size: 12px;
}

@mixin side_status() {
  color: #FFFFFF;
  font-weight: bold;
  padding: 0 20px;
}

@mixin side-bar() {
  .side-bar {
    float: left;
    width: 300px;
    overflow: scroll;
  
    .side-top {
      @include side_status;
      background-color: #253141;
      height: 100px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      }
  
    .groups {
      @include side_status;
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding-top: 20px;
  
      .group {
        margin-bottom: 40px;
  
          &__name {
            font-size: 15px;
            margin-bottom: 5px;
          }
  
          &__text {
            font-size: 11px;
          }
      }
    }
  }
}
